.timeline{
    display: flex;
    flex-direction: row;

}
.timeline-left{
    flex: 0.7;
}
.timeline-rigth{
    flex: 0.3;
}

/* SUGGESTIONS */
.suggestion-title{
    color: rgba(255, 255, 255, 0.596);
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}